# CS109b Final Project: 
# Air Pollution Exposure and COVID-19 Mortality in the U.S.

## Import libraries

In [1]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import plotly.figure_factory as ff

pd.options.display.max_rows = 500
pd.options.display.max_columns = 500

## Load and clean data

In [2]:
data = pd.read_csv("./../PM_COVID-master/processed_data_05-03-2020.csv")

In [3]:
#load data
#data = pd.read_csv('https://raw.githubusercontent.com/CS109b-Team37/Pollution-Prediction/master/PM_COVID-master/processed_data_04-24-2020.csv')

In [4]:
#rename older_pecent to older_percent
data = data.rename(columns={'older_pecent': 'older_percent'})

#drop columns
cols = list(data.columns)
cols.remove('Unnamed: 0') #just a column of integers 1-21560
#cols.remove('Province_State') #redundant information; already captured by 'state'
cols.remove('Country_Region') #only US
cols.remove('Combined_Key') #redundant information; already captured by 'Province_State' and 'Admin2'
cols.remove('year.x') #only 2016
cols.remove('year.y') #only 2012 and nan
cols.remove('Population') #'older_pecent' was calculated by Population/older_Population
cols.remove('older_Population') #'older_pecent' was calculated by Population/older_Population
cols.remove('date') #only 20200502
cols.remove('hash') #useless information
cols.remove('dateChecked') #only '2020-05-02T20:00:00Z'
cols.remove('Abbrev') #redundant information; already captured by 'state'
cols.remove('total') #almost a repeat of 'totalTestResults'
cols.remove('Recovered') #only 0
data = data[cols]

In [5]:
data['Last_Update'].unique()

array(['2020-05-04 02:32:28', '3/30/20 22:52'], dtype=object)

In [6]:
#convert Last_Update to binary variable
convert_dict = {'2020-05-04 02:32:28': 0, '3/30/20 22:52': 1}
data = data.replace({'Last_Update': convert_dict})

In [7]:
#variables with NA values
print('Variables with NA values:')
display(data.isna().sum()[data.isna().sum() > 0])

#remove variables with many NA values
na_vars = list(data.isna().sum()[data.isna().sum() > 50].index) #variables with many NA values
data = data[set(cols) - set(na_vars)] #final cleaned data

Variables with NA values:

smoke_rate                 867
mean_bmi                   867
Crude.Rate                   1
older_percent                1
pending                   2798
hospitalizedCurrently      719
hospitalizedCumulative    1276
inIcuCurrently            1783
inIcuCumulative           2345
onVentilatorCurrently     1953
onVentilatorCumulative    2839
recovered                 1074
hospitalized              1276
beds                       811
dtype: int64

In [8]:
#both NA values are for Loving, Texas
null_data = data[data.isnull().any(axis=1)]
print('Rows with NA values:')
display(null_data)

#fill in NA values for 'Crude.Rate' and 'older_percent' with state average
values = {'Crude.Rate': data.groupby('state').mean()['Crude.Rate']['TX'], 'older_percent': data.groupby('state').mean()['older_percent']['TX']}
data = data.fillna(value=values)

Rows with NA values:

,medianhousevalue,deathIncrease,mean_pm25,Province_State,q_popdensity,Deaths,Crude.Rate,older_percent,state,Last_Update,Lat,fips,mean_summer_temp,pct_owner_occ,pct_asian,population,pct_native,popdensity,positive,Confirmed,pct_blk,pct_white,negative,poverty,hispanic,hospitalizedIncrease,mean_winter_temp,mean_summer_rm,positiveIncrease,totalTestResultsIncrease,totalTestResults,mean_winter_rm,Long_,education,posNeg,population_frac_county,Admin2,medhouseholdincome,negativeIncrease,totalTestResults_county,Active,death
2635,89040.0,20,5.685412,Texas,1,0,NaN,NaN,TX,1,31.849476,48301,309.483185,0.485714,0.0,63,0.047619,0.395035,31548,0,0.0,0.857143,359012,0.631579,0.142857,0,290.213523,73.844694,1026,9912,390560,72.837808,-103.581857,0.526316,390560,0.000002,Loving,55625.0,8886,0.91409,0,867

## Modeling

In [32]:
#remove posNeg, since it is the same as totalTestResults
cols = list(data.columns)
cols.remove('posNeg') #only US
data = data[cols]

In [34]:
data.shape

(3086, 41)

In [74]:
#load tests data
#directly from https://www.vox.com/2020/3/26/21193848/coronavirus-us-cases-deaths-tests-by-state (5/5/2020)
#which got the data from COVID Tracking Project, Census Bureau
tests_data = pd.read_csv("./../tests_data.csv")

In [79]:
#subset data to only include the 49 states in our dataset
states_in_data = data['Province_State'].unique()
tests_data_sub = tests_data.loc[tests_data['state'].isin(states_in_data)]

#examine dataset
tests_data_sub.sort_values(by='tests_per_thousand_people', ascending=False)

,state,confirmed_cases,deaths,tests_conducted,tests_per_million_people,tests_per_thousand_people
55,Rhode Island,9477,320,71927,67897,67.897
54,New York,316415,19189,985911,50680,50.680
53,Massachusetts,68087,4004,314646,45650,45.650
52,North Dakota,1191,25,33353,43767,43.767
51,Utah,5175,50,122102,38086,38.086
50,Louisiana,29340,1969,176160,37894,37.894
49,New Mexico,3732,139,74944,35742,35.742
48,District of Columbia,5016,251,23102,32734,32.734
47,New Jersey,126744,7871,275707,31040,31.040
46,Tennessee,13177,210,204607,29961,29.961
44,West Virginia,1191,50,51638,28813,28.813
43,Connecticut,29287,2436,102493,28747,28.747
42,Washington,15003,830,207315,27225,27.225
41,Vermont,897,52,16954,27170,27.170
40,Mississippi,7550,303,77593,26072,26.072
39,Illinois,61499,2618,319313,25199,25.199
37,Delaware,5208,177,23737,24377,24.377
35,Maryland,25462,1281,132794,21965,21.965
34,Michigan,43754,4049,212532,21281,21.281
33,New Hampshire,2429,84,28613,21043,21.043
32,South Dakota,2631,21,18417,20818,20.818
30,Florida,36078,1403,429415,19993,19.993
29,Alabama,7725,290,92500,18865,18.865
28,Pennsylvania,49267,2444,240641,18797,18.797
27,California,53616,2215,715751,18115,18.115
26,Wyoming,579,7,10219,17657,17.657
25,Arkansas,3431,76,52890,17526,17.526
24,Iowa,9169,184,53186,16857,16.857
23,Idaho,2061,63,29807,16679,16.679
22,Georgia,28602,1177,175096,16491,16.491
21,Indiana,19933,1246,108859,16170,16.170
20,Nebraska,5326,76,31262,16161,16.161
19,Oklahoma,3972,238,63776,16117,16.117
18,Maine,1185,57,20731,15422,15.422
17,Wisconsin,7964,339,86192,14803,14.803
16,Oregon,2680,109,62054,14713,14.713
15,Nevada,5426,257,45269,14697,14.697
14,Minnesota,6663,419,82632,14652,14.652
13,Montana,455,16,15007,14041,14.041
12,Colorado,16225,832,79906,13876,13.876
11,North Carolina,11664,422,143835,13714,13.714
10,Missouri,8386,352,82976,13520,13.520
9,Texas,31548,867,390560,13469,13.469
8,Kentucky,4879,248,57649,12904,12.904
7,Ohio,19914,1038,150166,12847,12.847
6,Virginia,18671,660,108467,12708,12.708
5,Kansas,5030,134,36778,12624,12.624
4,South Carolina,6626,275,64188,12467,12.467
3,Arizona,8640,362,81119,11145,11.145

,state,confirmed_cases,deaths,tests_conducted,tests_per_million_people,tests_per_thousand_people
55,Rhode Island,9477,320,71927,67897,67.897
54,New York,316415,19189,985911,50680,50.680
53,Massachusetts,68087,4004,314646,45650,45.650
52,North Dakota,1191,25,33353,43767,43.767
51,Utah,5175,50,122102,38086,38.086
50,Louisiana,29340,1969,176160,37894,37.894
49,New Mexico,3732,139,74944,35742,35.742
48,District of Columbia,5016,251,23102,32734,32.734
47,New Jersey,126744,7871,275707,31040,31.040
46,Tennessee,13177,210,204607,29961,29.961
44,West Virginia,1191,50,51638,28813,28.813
43,Connecticut,29287,2436,102493,28747,28.747
42,Washington,15003,830,207315,27225,27.225
41,Vermont,897,52,16954,27170,27.170
40,Mississippi,7550,303,77593,26072,26.072
39,Illinois,61499,2618,319313,25199,25.199
37,Delaware,5208,177,23737,24377,24.377
35,Maryland,25462,1281,132794,21965,21.965
34,Michigan,43754,4049,212532,21281,21.281
33,New Hampshire,2429,84,28613,21043,21.043
32,South Dakota,2631,21,18417,20818,20.818
30,Florida,36078,1403,429415,19993,19.993
29,Alabama,7725,290,92500,18865,18.865
28,Pennsylvania,49267,2444,240641,18797,18.797
27,California,53616,2215,715751,18115,18.115
26,Wyoming,579,7,10219,17657,17.657
25,Arkansas,3431,76,52890,17526,17.526
24,Iowa,9169,184,53186,16857,16.857
23,Idaho,2061,63,29807,16679,16.679
22,Georgia,28602,1177,175096,16491,16.491
21,Indiana,19933,1246,108859,16170,16.170
20,Nebraska,5326,76,31262,16161,16.161
19,Oklahoma,3972,238,63776,16117,16.117
18,Maine,1185,57,20731,15422,15.422
17,Wisconsin,7964,339,86192,14803,14.803
16,Oregon,2680,109,62054,14713,14.713
15,Nevada,5426,257,45269,14697,14.697
14,Minnesota,6663,419,82632,14652,14.652
13,Montana,455,16,15007,14041,14.041
12,Colorado,16225,832,79906,13876,13.876
11,North Carolina,11664,422,143835,13714,13.714
10,Missouri,8386,352,82976,13520,13.520
9,Texas,31548,867,390560,13469,13.469
8,Kentucky,4879,248,57649,12904,12.904
7,Ohio,19914,1038,150166,12847,12.847
6,Virginia,18671,660,108467,12708,12.708
5,Kansas,5030,134,36778,12624,12.624
4,South Carolina,6626,275,64188,12467,12.467
3,Arizona,8640,362,81119,11145,11.145

In [78]:
#plot distribution of tests_per_thousand_people; find cutoff

In [26]:
data['Deaths']

0       3
1       4
2       1
3       0
4       0
       ..
3081    0
3082    0
3083    0
3084    0
3085    0
Name: Deaths, Length: 3086, dtype: int64